- @page_title = "ステータス一覧"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
        %td.indent
        %td= f.label :result_no_form, '更新回'
        %td.formNum{colspan: "3"}= text_field_tag :result_no_form, @result_no_form
      %tr
        %td.indent
        %td= f.label :e_no_form, 'Eno'
        %td.formNum= text_field_tag :e_no_form, @e_no_form
        %td= f.label :p_name_form, 'キャラクター名'
        %td.formText= text_field_tag :p_name_form, @p_name_form
      %tr.sep
        %td.indent
        %td= f.label :acc_reward_form, '累積報酬'
        %td.formNum{colspan: "3"}= text_field_tag :acc_reward_form, @acc_reward_form
      %tr
        %td.indent
        %td= f.label :rp_form, 'RP'
        %td.formNum{colspan: "3"}= text_field_tag :rp_form, @rp_form
      %tr.sep
        %td.indent
        %td= f.label :gunshot_form, '射撃'
        %td.formNum= text_field_tag :gunshot_form, @gunshot_form
        %td= f.label :struggle_form, '格闘'
        %td.formNum= text_field_tag :struggle_form, @struggle_form
      %tr
        %td.indent
        %td= f.label :reaction_form, '反応'
        %td.formNum= text_field_tag :reaction_form, @reaction_form
        %td= f.label :control_form, '制御'
        %td.formNum= text_field_tag :control_form, @control_form
      %tr
        %td.indent
        %td= f.label :preparation_form, '整備'
        %td.formNum= text_field_tag :preparation_form, @preparation_form
        %td= f.label :fitly_form, '適性'
        %td.formNum= text_field_tag :fitly_form, @fitly_form
      %tr
        %td.indent
        %td= f.label :funds_form, '所持資金'
        %td.formNum{colspan: "3"}= text_field_tag :funds_form, @funds_form
      %tr
        %td.indent
        %td= f.label :exp_form, '経験値'
        %td.formNum{colspan: "3"}= text_field_tag :exp_form, @exp_form
      %tr.sep
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button

= paginate(@statuses)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      %th= sort_link(@search, :e_no,'キャラクター(Eno)', default_order: :desc)
      %th.sep= sort_link(@search, :acc_reward, '累積報酬', default_order: :desc)
      %th= sort_link(@search, :rp, 'RP', default_order: :desc)
      %th.sep= sort_link(@search, :gunshot, '射撃', default_order: :desc)
      %th= sort_link(@search, :struggle, '格闘', default_order: :desc)
      %th= sort_link(@search, :reaction, '反応', default_order: :desc)
      %th= sort_link(@search, :control, '制御', default_order: :desc)
      %th= sort_link(@search, :preparation, '整備', default_order: :desc)
      %th= sort_link(@search, :fitly, '適性', default_order: :desc)
      %th.sep= sort_link(@search, :funds, '所持資金', default_order: :desc)
      %th= sort_link(@search, :exp, '経験値', default_order: :desc)
      %th.sep{colspan: "2"}
        結果リンク
  %tbody
    - @statuses.each do |status|
      %tr
        %td= status.result_no
        %td= p_name_text(status.e_no, status.p_name)
        %td.sep= status.acc_reward
        %td= status.rp
        %td.sep= status.gunshot
        %td= status.struggle
        %td= status.reaction
        %td= status.control
        %td= status.preparation
        %td= status.fitly
        %td.sep= status.funds
        %td= status.exp
        %td.sep= character_link(status.e_no)
        %td= character_old_link(@latest_result, status.e_no, status.result_no, status.generate_no)
= paginate(@statuses)
