%h1 霧戦争5期データ小屋
%p
  このサイトでは
  %a{:href => "http://blacktea.sakura.ne.jp/mistofwar/", :target => "_blank"} MIST OF WAR
  を解析して得られる情報を扱っています。
  %br
  データ更新は本家の圧縮結果が公開されてから行います。
%br
%p 
  第#{@last_result}回#{ "再" if @last_generate > 0}#{ num = 2; text = ""; while num <= @last_generate do num += 1; text += "々" end; text}更新結果まで反映済です。

.well.well-sm
  %h2 サイトマップ
  .row
    .col-md-6
      %ul
        %li 個人データ
        %ul  
          %li= link_to "アイテム一覧", items_path
          %li= link_to "ステータス一覧", statuses_path
          %li= link_to "機体データ一覧", specs_path
          %li= link_to "戦闘報酬一覧", rewards_path
        %br
        %li 結果データ
        %ul  
          %li= link_to "マーケット一覧", markets_path
          %li= link_to "戦場別戦果一覧", block_results_path
          %li= link_to "次回組み合わせ一覧", next_battles_path

.well.well-sm
  %h2 更新履歴
  %ul
    %li 2018/-/-
    %ul
      %li サイト公開
