- @page_title = "戦場一覧"
%h1= @page_title

.card.desc
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td  
        %td= f.label :result_no_form, '更新回'
        %td.formNum{colspan: "3"}= text_field_tag :result_no_form, @result_no_form
      %tr
        %td  
        %td= f.label :e_no_form, 'Eno'
        %td.formNum= text_field_tag :e_no_form, @e_no_form
      %tr
        %td  
        %td= f.label :p_name_form, 'キャラクター名'
        %td.formText= text_field_tag :p_name_form, @p_name_form
      %tr
        %td  
        %td= f.label :block_no_form, 'ブロック番号'
        %td.formNum= text_field_tag :block_no_form, @block_no_form
      %tr
        %td
        %td= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button

= paginate(@blocks)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      %th= sort_link(@search, :e_no,'キャラクター(Eno)', default_order: :desc)
      %th= sort_link(@search, :block_no, 'ブロック', default_order: :desc)
      %th{colspan:"2"}
        結果リンク
  %tbody
    - @blocks.each do |block|
      %tr
        %td= block.result_no
        %td= p_name_text(block.e_no, block.p_name)
        %td= block.block_no
        %td= character_link(block.e_no)
        %td= character_old_link(@last_result, block.e_no, block.result_no, block.generate_no)
= paginate(@blocks)
