- @page_title = "戦場別戦果一覧"
%h1= @page_title

%div.well.desc
  = render "layouts/base_desc"
  %p
    %span.example_select.example_toggle.pointer
      - help_icon
      入力例
      - act_desc(false)
  #example.closed
    = render "layouts/input_desc"
= search_form_for @search, url: block_results_path do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td  
        %td= f.label :result_no_form, '更新回'
        %td.formNum{colspan: "3"}= text_field_tag :result_no_form, @result_no_form
      %tr
        %td  
        %td= f.label :e_no_form, 'Eno'
        %td.formNum= text_field_tag :e_no_form, @e_no_form
        %td= f.label :p_name_form, 'キャラクター名'
        %td.formText= text_field_tag :p_name_form, @p_name_form
      %tr
        %td  
        %td= f.label :block_no_form, 'ブロック番号'
        %td.formNum= text_field_tag :block_no_form, @block_no_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_detail_status_1, @show_detail_status_1
          - act_icon(false)
          = label_tag :show_detail_status_1, '　ステータスを表示する', class: "act_desc"
          = label_tag :show_detail_status_1, '　ステータスを非表示にする', class: "act_desc closed"
          %div.act_desc 　累積報酬、RP
    %tbody.closed
      %tr
        %td  
        %td= f.label :acc_reward_form, '累積報酬'
        %td.formNum= text_field_tag :acc_reward_form, @acc_reward_form
        %td= f.label :rp_form, 'RP'
        %td.formNum= text_field_tag :rp_form, @rp_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :base_first, @base_first
          = hidden_field_tag :show_detail_reward_1, @show_detail_reward_1
          - act_icon(false)
          = label_tag :show_detail_reward_1, '　戦闘報酬を表示する', class: "act_desc"
          = label_tag :show_detail_reward_1, '　戦闘報酬を非表示にする', class: "act_desc closed"
          %div.act_desc 　合計現金収入、攻撃戦果補正、支援戦果補正、防衛戦果補正
    %tbody
      %tr
        %td  
        %td= f.label :total_income_form, '合計現金収入'
        %td.formNum{colspan: "3"}= text_field_tag :total_income_form, @total_income_form
      %tr
        %td  
        %td= f.label :attack_form, '攻撃戦果補正'
        %td.formNum= text_field_tag :attack_form, @attack_form
        %td= f.label :support_form, '支援戦果補正'
        %td.formNum= text_field_tag :support_form, @support_form
      %tr
        %td  
        %td= f.label :defense_form, '防衛戦果補正'
        %td.formNum{colspan: "3"}= text_field_tag :defense_form, @defense_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_detail_assembly_1, @show_detail_assembly_1
          - act_icon(false)
          = label_tag :show_detail_assembly_1, '　アセンブルを表示する', class: "act_desc"
          = label_tag :show_detail_assembly_1, '　アセンブルを非表示にする', class: "act_desc closed"
          %div.act_desc 　脚部、全アセンブル
    %tbody.closed
      %tr
        %td  
        %td= f.label :leg_form, '脚部'
        %td.formText= text_field_tag :leg_form, @leg_form
        %td= f.label :assembly_form, '全アセンブル (ORのみ)'
        %td.formText= text_field_tag :assembly_form, @assembly_form
      %tr
        %td
        %td{:colspan => "4"}
          = check_box_tag :show_all_assembly, @show_all_assembly, @show_all_assembly
          = label_tag :show_all_assembly, '全アセンブルを表示する'
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :base_first, @base_first
          = hidden_field_tag :show_detail_battle_system_1, @show_detail_battle_system_1
          = label_tag :show_detail_battle_system_1, '　戦闘システムを表示する', class: "act_desc"
          = label_tag :show_detail_battle_system_1, '　戦闘システムを非表示にする', class: "act_desc closed"
    %tbody
      %tr
        %td  
        %td= f.label :battle_system_form, '戦闘システム'
        %td.formText{:colspan => "3"}= text_field_tag :battle_system_form, @battle_system_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :base_first, @base_first
          = hidden_field_tag :show_detail_intention_1, @show_detail_intention_1
          - act_icon(false)
          = label_tag :show_detail_intention_1, '　意思表示を表示する', class: "act_desc"
          = label_tag :show_detail_intention_1, '　意思表示を非表示にする', class: "act_desc closed"
    %tbody
      %tr
        %td  
        %td= f.label :intention_form, '意思表示'
        %td.formText{:colspan => "3"}= text_field_tag :intention_form, @intention_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_detail_consort_plane_1, @show_detail_consort_plane_1
          - act_icon(false)
          = label_tag :show_detail_consort_plane_1, '　僚機を表示する', class: "act_desc"
          = label_tag :show_detail_consort_plane_1, '　僚機を非表示にする', class: "act_desc closed"
    %tbody.closed
      %tr
        %td  
        %td= f.label :consort_plane_form, '僚機Eno'
        %td.formNum= text_field_tag :consort_plane_form, @consort_plane_form
        %td= f.label :consort_plane_form, '僚機キャラクター名'
        %td.formText= text_field_tag :consort_plane_name_form, @consort_plane_name_form
      %tr
        %td
        %td{:colspan => "4"}
          = check_box_tag :show_consort_plane_name, @show_consort_plane_name, @show_consort_plane_name
          = label_tag :show_consort_plane_name, '僚機名を表示する'
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_detail_spec_1, @show_detail_spec_1
          - act_icon(false)
          = label_tag :show_detail_spec_1, '　機体データその1を表示する', class: "act_desc"
          = label_tag :show_detail_spec_1, '　機体データその1を非表示にする', class: "act_desc closed"
          %div.act_desc 　AP、EN、EN回復量
    %tbody.closed
      %tr
        %td  
        %td= f.label :ap_form, 'AP'
        %td.formNum{colspan: "3"}= text_field_tag :ap_form, @ap_form
      %tr
        %td  
        %td= f.label :en_form, 'EN'
        %td.formNum= text_field_tag :en_form, @en_form
        %td= f.label :en_recovery_form, 'EN回復量'
        %td.formNum= text_field_tag :en_recovery_form, @en_recovery_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_detail_spec_2, @show_detail_spec_2
          - act_icon(false)
          = label_tag :show_detail_spec_2, '　機体データその2を表示する', class: "act_desc"
          = label_tag :show_detail_spec_2, '　機体データその2を非表示にする', class: "act_desc closed"
          %div.act_desc 　機動力、総重量、旋回速度、跳躍力、最大火力、索敵範囲、命中精度、貯水量、噴霧量、積載量、最大積載量
    %tbody.closed
      %tr
        %td  
        %td= f.label :movement_form, '機動力'
        %td.formNum= text_field_tag :movement_form, @movement_form
        %td= f.label :weight_form, '総重量'
        %td.formNum= text_field_tag :weight_form, @weight_form
      %tr
        %td  
        %td= f.label :turning_speed_form, '旋回速度'
        %td.formNum= text_field_tag :turning_speed_form, @turning_speed_form
        %td= f.label :jump_form, '跳躍力'
        %td.formNum= text_field_tag :jump_form, @jump_form
      %tr
        %td  
        %td= f.label :max_power_form, '最大火力'
        %td.formNum{colspan: "3"}= text_field_tag :max_power_form, @max_power_form
      %tr
        %td  
        %td= f.label :search_form, '索敵範囲'
        %td.formNum= text_field_tag :search_form, @search_form
        %td= f.label :precision_form, '命中精度'
        %td.formNum= text_field_tag :precision_form, @precision_form
      %tr
        %td  
        %td= f.label :punding_form, '貯水量'
        %td.formNum= text_field_tag :punding_form, @punding_form
        %td= f.label :aerosol_form, '噴霧量'
        %td.formNum= text_field_tag :aerosol_form, @aerosol_form
      %tr
        %td  
        %td= f.label :loading_form, '積載量'
        %td.formNum= text_field_tag :loading_form, @loading_form
        %td= f.label :max_loading_form, '最大積載量'
        %td.formNum= text_field_tag :max_loading_form, @max_loading_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_detail_spec_3, @show_detail_spec_3
          - act_icon(false)
          = label_tag :show_detail_spec_3, '　防御値を表示する', class: "act_desc"
          = label_tag :show_detail_spec_3, '　防御値を非表示にする', class: "act_desc closed"
          %div.act_desc 　物理防御、霊障防御、粒子防御、火炎防御、電子防御
    %tbody.closed
      %tr
        %td  
        %td= f.label :pysics_form, '物理防御'
        %td.formNum= text_field_tag :pysics_form, @pysics_form
        %td= f.label :spirit_form, '霊障防御'
        %td.formNum= text_field_tag :spirit_form, @spirit_form
      %tr
        %td  
        %td= f.label :particle_form, '粒子防御'
        %td.formNum= text_field_tag :particle_form, @particle_form
        %td= f.label :flame_form, '火炎防御'
        %td.formNum= text_field_tag :flame_form, @flame_form
      %tr
        %td  
        %td= f.label :electric_form, '電子防御'
        %td.formNum{colspan: "3"}= text_field_tag :electric_form, @electric_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_detail_condition_1, @show_detail_condition_1
          - act_icon(false)
          = label_tag :show_detail_condition_1, '　機体状況を表示する', class: "act_desc"
          = label_tag :show_detail_condition_1, '　機体状況を非表示にする', class: "act_desc closed"
    %tbody.closed
      %tr
      %tr
        %td  
        %td= f.label :condition_text_form, '機体状況'
        %td.formText{colspan: "3"}= text_field_tag :condition_text_form, @condition_text_form
    %tbody
      %tr
        %td
        %td= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@blocks)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      %th= sort_link(@search, :e_no,'キャラクター(Eno)', default_order: :desc)
      %th= sort_link(@search, :block_no, 'ブロック', default_order: :desc)
      - if @show_detail_assembly_1 == "1"
        %th= sort_link(@search, :leg_orig_name_name_name, '脚部', default_order: :desc)
      - if @show_detail_status_1 == "1"
        %th= sort_link(@search, :status_acc_reward, '累積報酬', default_order: :desc)
        %th= sort_link(@search, :status_rp, 'RP', default_order: :desc)
      - if @show_detail_reward_1 == "1"
        %th= sort_link(@search, :reward_total_income, '合計収入', default_order: :desc)
        %th= sort_link(@search, :reward_attack, '攻撃', default_order: :desc)
        %th= sort_link(@search, :reward_support, '支援', default_order: :desc)
        %th= sort_link(@search, :reward_defense, '防衛', default_order: :desc)
      - if @show_detail_battle_system_1 == "1"
        %th= sort_link(@search, :battle_system_battle_system, '戦闘システム', default_order: :desc)
      - if @show_detail_intention_1 == "1"
        %th= sort_link(@search, :intention, '意思', default_order: :desc)
      - if @show_detail_consort_plane_1 == "1"
        %th= sort_link(@search, :consort_plane, '僚機', default_order: :desc)
      - if @show_detail_spec_1 == "1"
        %th= sort_link(@search, :spec_ap, 'AP', default_order: :desc)
        %th= sort_link(@search, :spec_en, 'EN', default_order: :desc)
        %th= sort_link(@search, :spec_en_recovery, 'EN回復', default_order: :desc)
      - if @show_detail_spec_2 == "1"
        %th= sort_link(@search, :spec_movement, '機動', default_order: :desc)
        %th= sort_link(@search, :spec_weight, '総重量', default_order: :desc)
        %th= sort_link(@search, :spec_turning_speed, '旋回', default_order: :desc)
        %th= sort_link(@search, :spec_jump, '跳躍', default_order: :desc)
        %th= sort_link(@search, :spec_max_power, '最大火力', default_order: :desc)
        %th= sort_link(@search, :spec_search, '索敵', default_order: :desc)
        %th= sort_link(@search, :spec_precision, '命中', default_order: :desc)
        %th= sort_link(@search, :spec_punding, '貯水', default_order: :desc)
        %th= sort_link(@search, :spec_aerosol, '噴霧', default_order: :desc)
        %th= sort_link(@search, :spec_loading, '積載', default_order: :desc)
        %th= sort_link(@search, :spec_max_loading, '最大積載', default_order: :desc)
      - if @show_detail_spec_3 == "1"
        %th{style: "border-bottom: 0.3em solid #ccc;"}= sort_link(@search, :pysics, '物理', default_order: :desc)
        %th{style: "border-bottom: 0.3em solid #c4c;"}= sort_link(@search, :spirit, '霊障', default_order: :desc)
        %th{style: "border-bottom: 0.3em solid #4cc;"}= sort_link(@search, :particle, '粒子', default_order: :desc)
        %th{style: "border-bottom: 0.3em solid #c44;"}= sort_link(@search, :flame, '火炎', default_order: :desc)
        %th{style: "border-bottom: 0.3em solid #ee8;"}= sort_link(@search, :electric, '電子', default_order: :desc)
      - if @show_detail_condition_1 == "1"
        %th= sort_link(@search, :condition_all_text_condition_text, '機体状況', default_order: :desc)
      %th{colspan:"2"}
        結果リンク
  %tbody
    - @blocks.each do |block|
      %tr
        %td{rowspan: "#{ '2' if @show_all_assembly }" }= block.result_no
        %td{rowspan: "#{ '2' if @show_all_assembly }" }= p_name_text(block.e_no, block.p_name)
        %td{rowspan: "#{ '2' if @show_all_assembly }" }= block.block_no
        - if @show_detail_assembly_1 == "1"
          %td= block.leg.orig_name_name.name if block.leg
        - if @show_detail_status_1 == "1"
          %td= block.status.acc_reward if block.status
          %td= block.status.rp if block.status
        - if @show_detail_reward_1 == "1"
          %td= block.reward.total_income if block.reward
          %td= block.reward.attack if block.reward
          %td= block.reward.support if block.reward
          %td= block.reward.defense if block.reward
        - if @show_detail_battle_system_1 == "1"
          %td= block.battle_system.battle_system_name.name if block.battle_system && block.battle_system.battle_system_name
        - if @show_detail_intention_1 == "1"
          %td= block.intention.intention_name.name if block.intention && block.intention.intention_name
        - if @show_detail_consort_plane_1 == "1"
          - if @show_consort_plane_name == "on"
            %td= block.consort_plane.consort_plane_name.name.html_safe + "(" + sprintf("%d",block.consort_plane.consort_plane) + ")" if block.consort_plane && block.consort_plane.consort_plane_name
          - else
            %td= block.consort_plane.consort_plane if block.consort_plane && block.consort_plane.consort_plane_name
        - if @show_detail_spec_1 == "1"
          %td= block.spec.ap if block.spec
          %td= block.spec.en if block.spec
          %td= block.spec.en_recovery if block.spec
        - if @show_detail_spec_2 == "1"
          %td= block.spec.movement if block.spec
          %td= block.spec.weight if block.spec
          %td= block.spec.turning_speed if block.spec
          %td= block.spec.jump if block.spec
          %td= block.spec.max_power if block.spec
          %td= block.spec.search if block.spec
          %td= block.spec.precision if block.spec
          %td= block.spec.punding if block.spec
          %td= block.spec.aerosol if block.spec
          %td= block.spec.loading if block.spec
          %td= block.spec.max_loading if block.spec
        - if @show_detail_spec_3 == "1"
          %td= block.spec.pysics if block.spec
          %td= block.spec.spirit if block.spec
          %td= block.spec.particle if block.spec
          %td= block.spec.flame if block.spec
          %td= block.spec.electric if block.spec
        - if @show_detail_condition_1 == "1"
          %td= block.condition_all_text.condition_text if block.condition_all_text
        %td= character_link(block.e_no)
        %td= character_old_link(@last_result, block.e_no, block.result_no, block.generate_no)
      -if @show_all_assembly
        %tr
          %td{colspan: 100}= all_assembly_text(block.assembly)
= paginate(@blocks)
