%h1 戦闘システム一覧

%p.formNum 
  テキストフォームの隣に赤い破線がある項目は数値検索です。
  %br
  「/」区切りでOR、「100~」や「100~200」のように「~」をつけて範囲指定となります。
  %br
  OR指定と範囲指定を同時に行うことはできません。
%p.formText
  テキストフォームの隣に青い太線がある項目は文字検索です。
  %br
  半角スペース区切りでAND、「/」区切りでOR、単語の前に「-」でNOT、単語の前後に「"」をつけて完全一致が使えます
  %br
  ANDとORを組み合わせた時は、ANDで区切った後にORで区切るという順番になります。
%p
  %span.example_select.example_toggle.pointer
    入力例
    %span.act_desc（クリックで開きます）
    %span.act_desc.closed（クリックで閉じます）
#example.closed
  %p.formNum
    数値入力で「100/105/110」と入力　→ 入力した項目の数値が100、105、110の結果がヒット
    %br
    「100~」で100以上、「~100」で100以下、「-200~100」で-200～-100の範囲指定となります。
  %p.formText
    「粒子」と入力　→　粒子ブレードA、粒子スピアA、粒子爆雷A……が検索結果にヒット
    %br
    「"粒子"」　→　完全一致で「粒子」のみ検索結果にヒット
    %br
    「-粒子」　→　「粒子」の単語を含まない目的が検索結果にヒット
    %br
    「-"粒子"」　→　完全一致で「粒子」以外が検索結果にヒット
    %br
    「粒子 ブレード」　→　「粒子」と「ブレード」の2つの単語が含まれるものが検索結果にヒット
    %br
    「粒子/ブレード」　→　「粒子」か「ブレード」のどちらかの単語が含まれるものが検索結果にヒット
    %br
    「粒子 ブレード/スピア」　→　「粒子」が含まれ、さらに 「ブレード」か「スピア」 が含まれるものが検索結果にヒット
    %br
    「-粒子 -ブレード」　→　「粒子」もしくは「ブレード」という単語が含まれるものを検索結果から除外
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          絞り込み検索
          %span.act_desc (クリックで閉じます)
          %span.act_desc.closed (クリックで開きます)
    %tbody
      %tr
      %tr
        %td  
        %td= f.label :result_no_form, '更新回'
        %td.formNum{colspan: "3"}= text_field_tag :result_no_form, @result_no_form
      %tr
        %td  
        %td= f.label :e_no_form, 'Eno'
        %td.formNum= text_field_tag :e_no_form, @e_no_form
      %tr
        %td  
        %td= f.label :p_name_form, 'キャラクター名'
        %td.formText= text_field_tag :p_name_form, @p_name_form
      %tr
        %td  
        %td= f.label :battle_system_form, '戦闘システム'
        %td.formText= text_field_tag :battle_system_form, @battle_system_form
      %tr
        %td= hidden_field_tag :is_form, 1
        %td{colspan: "4"}= f.submit '検索する'


= paginate(@battle_systems)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      %th= sort_link(@search, :e_no,'キャラクター(Eno)', default_order: :desc)
      %th= sort_link(@search, :battle_system, '戦闘システム', default_order: :desc)
      %th{colspan: "2"}
        結果リンク
  %tbody
    - @battle_systems.each do |battle_system|
      %tr
        %td= battle_system.result_no
        %td= battle_system.p_name.name.html_safe + "(" + sprintf("%d",battle_system.e_no) + ")"
        %td= battle_system.battle_system_name.name if battle_system.battle_system_name
        %td= character_link(battle_system.e_no)
        %td= character_old_link(@last_result, battle_system.e_no, battle_system.result_no, battle_system.generate_no)
= paginate(@battle_systems)
