- @page_title = "戦闘システム一覧"
%h1= @page_title

= render "layouts/base_desc"
%p
  %span.example_select.example_toggle.pointer
    入力例
    %span.act_desc（クリックで開きます）
    %span.act_desc.closed（クリックで閉じます）
#example.closed
  = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          絞り込み検索
          %span.act_desc (クリックで閉じます)
          %span.act_desc.closed (クリックで開きます)
    %tbody
      %tr
      %tr
        %td  
        %td= f.label :result_no_form, '更新回'
        %td.formNum{colspan: "3"}= text_field_tag :result_no_form, @result_no_form
      %tr
        %td  
        %td= f.label :e_no_form, 'Eno'
        %td.formNum= text_field_tag :e_no_form, @e_no_form
      %tr
        %td  
        %td= f.label :p_name_form, 'キャラクター名'
        %td.formText= text_field_tag :p_name_form, @p_name_form
      %tr
        %td  
        %td= f.label :battle_system_form, '戦闘システム'
        %td.formText= text_field_tag :battle_system_form, @battle_system_form
      %tr
        %td= hidden_field_tag :is_form, 1
        %td{colspan: "4"}= f.submit '検索する'


= paginate(@battle_systems)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      %th= sort_link(@search, :e_no,'キャラクター(Eno)', default_order: :desc)
      %th= sort_link(@search, :battle_system, '戦闘システム', default_order: :desc)
      %th{colspan: "2"}
        結果リンク
  %tbody
    - @battle_systems.each do |battle_system|
      %tr
        %td= battle_system.result_no
        %td= p_name_text(battle_system.e_no, battle_system.p_name)
        %td= battle_system.battle_system_name.name if battle_system.battle_system_name
        %td= character_link(battle_system.e_no)
        %td= character_old_link(@last_result, battle_system.e_no, battle_system.result_no, battle_system.generate_no)
= paginate(@battle_systems)
