- @page_title = "アイテム一覧"
%h1= @page_title

%p.formNum 
  テキストフォームの隣に赤い破線がある項目は数値検索です。
  %br
  「/」区切りでOR、「100~」や「100~200」のように「~」をつけて範囲指定となります。
  %br
  OR指定と範囲指定を同時に行うことはできません。
%p.formText
  テキストフォームの隣に青い太線がある項目は文字検索です。
  %br
  半角スペース区切りでAND、「/」区切りでOR、単語の前に「-」でNOT、単語の前後に「"」をつけて完全一致が使えます
  %br
  ANDとORを組み合わせた時は、ANDで区切った後にORで区切るという順番になります。
%p
  %span.example_select.example_toggle.pointer
    入力例
    %span.act_desc（クリックで開きます）
    %span.act_desc.closed（クリックで閉じます）
#example.closed
  %p.formNum
    数値入力で「100/105/110」と入力　→ 入力した項目の数値が100、105、110の結果がヒット
    %br
    「100~」で100以上、「~100」で100以下、「-200~100」で-200～-100の範囲指定となります。
  %p.formText
    「粒子」と入力　→　粒子ブレードA、粒子スピアA、粒子爆雷A……が検索結果にヒット
    %br
    「"粒子"」　→　完全一致で「粒子」のみ検索結果にヒット
    %br
    「-粒子」　→　「粒子」の単語を含まない目的が検索結果にヒット
    %br
    「-"粒子"」　→　完全一致で「粒子」以外が検索結果にヒット
    %br
    「粒子 ブレード」　→　「粒子」と「ブレード」の2つの単語が含まれるものが検索結果にヒット
    %br
    「粒子/ブレード」　→　「粒子」か「ブレード」のどちらかの単語が含まれるものが検索結果にヒット
    %br
    「粒子 ブレード/スピア」　→　「粒子」が含まれ、さらに 「ブレード」か「スピア」 が含まれるものが検索結果にヒット
    %br
    「-粒子 -ブレード」　→　「粒子」もしくは「ブレード」という単語が含まれるものを検索結果から除外
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          絞り込み検索
          %span.act_desc (クリックで閉じます)
          %span.act_desc.closed (クリックで開きます)
    %tbody
      %tr
      %tr
        %td
        %td= f.label :result_no_form, '更新回'
        %td.formNum{colspan: "3"}= text_field_tag :result_no_form, @result_no_form
      %tr
        %td
        %td= f.label :e_no_form, 'Eno'
        %td.formNum= text_field_tag :e_no_form, @e_no_form
        %td= f.label :p_name_form, 'キャラクター名'
        %td.formText= text_field_tag :p_name_form, @p_name_form
      %tr
        %td
        %td= f.label :name_form, 'アイテム名'
        %td.formText{colspan: "3"}= text_field_tag :name_form, @name_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{:colspan => "5"}
          = hidden_field_tag :base_first, @base_first
          = hidden_field_tag :show_detail_1, @show_detail_1
          = label_tag :show_detail_1, '＋　基礎情報を表示する', class: "act_desc"
          = label_tag :show_detail_1, '×　基礎情報を非表示にする', class: "act_desc closed"
          %div.act_desc 　種別、パーツ種別詳細、付加A、付加B、強度、装備
    %tbody
      %tr
        %td
        %td= f.label :kind_form, '種別'
        %td.formText= text_field_tag :kind_form, @kind_form
        %td= f.label :orig_name_form, 'パーツ種別詳細'
        %td.formText= text_field_tag :orig_name_form, @orig_name_form
      %tr
        %td
        %td= f.label :fuka_1_form, '付加A'
        %td.formText= text_field_tag :fuka_1_form, @fuka_1_form
        %td= f.label :fuka_2_form, '付加B'
        %td.formText= text_field_tag :fuka_2_form, @fuka_2_form
      %tr
        %td
        %td= f.label :strength_form, '強度'
        %td.formNum{colspan: "3"}= text_field_tag :strength_form, @strength_form
      %tr
        %td
        %td= f.label :equip_form, '装備'
        %td.formNum{colspan: "3"}= text_field_tag :equip_form, @equip_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{:colspan => "5"}
          = hidden_field_tag :show_detail_2, @show_detail_2
          = label_tag :show_detail_1, '＋　詳細その1を表示する', class: "act_desc"
          = label_tag :show_detail_1, '×　詳細その1を非表示にする', class: "act_desc closed"
          %div.act_desc 　AP、消費EN、特殊1、特殊2、旋回速度、防御属性、防御値、金額、弾薬費、重量
    %tbody.closed
      %tr
        %td
        %td= f.label :ap_form, 'AP'
        %td.formNum= text_field_tag :ap_form, @ap_form
        %td= f.label :spending_en_form, '消費EN'
        %td.formNum= text_field_tag :spending_en_form, @spending_en_form
      %tr
        %td
        %td= f.label :unique_1_form, '特殊1'
        %td.formNum= text_field_tag :unique_1_form, @unique_1_form
        %td= f.label :unique_2_form, '特殊2'
        %td.formNum= text_field_tag :unique_2_form, @unique_2_form
      %tr
        %td
        %td= f.label :turning_speed_form, '旋回速度'
        %td.formNum{colspan: "3"}= text_field_tag :turning_speed_form, @turning_speed_form
      %tr
        %td
        %td= f.label :guard_elemental_form, '防御属性'
        %td.formNum= text_field_tag :guard_elemental_form, @guard_elemental_form
        %td= f.label :guard_value_form, '防御値'
        %td.formNum= text_field_tag :guard_value_form, @guard_value_form
      %tr
        %td
        %td= f.label :value_form, '金額'
        %td.formNum= text_field_tag :value_form, @value_form
        %td= f.label :ammunition_cost_form, '弾薬費'
        %td.formNum= text_field_tag :ammunition_cost_form, @ammunition_cost_form
      %tr
        %td
        %td= f.label :weight_form, '重量'
        %td.formNum{colspan: "3"}= text_field_tag :weight_form, @weight_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{:colspan => "5"}
          = hidden_field_tag :show_detail_3, @show_detail_3
          = label_tag :show_detail_1, '＋　詳細その2を表示する', class: "act_desc"
          = label_tag :show_detail_1, '×　詳細その2を非表示にする', class: "act_desc closed"
          %div.act_desc 　精度、貯水量、噴霧量、弾数、積載量、武器属性、異常追加
    %tbody.closed
      %tr
        %td
        %td= f.label :precision_form, '精度'
        %td.formNum{colspan: "3"}= text_field_tag :precision_form, @precision_form
      %tr
        %td
        %td= f.label :punding_form, '貯水量'
        %td.formNum= text_field_tag :punding_form, @punding_form
        %td= f.label :aerosol_form, '噴霧量'
        %td.formNum= text_field_tag :aerosol_form, @aerosol_form
      %tr
        %td
        %td= f.label :bullet_form, '弾数'
        %td.formNum{colspan: "3"}= text_field_tag :bullet_form, @bullet_form
      %tr
        %td
        %td= f.label :loading_form, '積載量'
        %td.formNum{colspan: "3"}= text_field_tag :loading_form, @loading_form
      %tr
        %td
        %td= f.label :weapon_element_form, '武器属性'
        %td.formText= text_field_tag :weapon_element_form, @weapon_element_form
        %td= f.label :add_abnormity_form, '異常追加'
        %td.formNum= text_field_tag :add_abnormity_form, @add_abnormity_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{:colspan => "5"}
          = hidden_field_tag :show_detail_4, @show_detail_4
          = label_tag :show_detail_1, '＋　作成時ステータスを表示する', class: "act_desc"
          = label_tag :show_detail_1, '×　作成時ステータスを非表示にする', class: "act_desc closed"
          %div.act_desc 　射撃、格闘、反応、制御、整備、適性
    %tbody.closed
      %tr
        %td
        %td= f.label :gunshot_form, '射撃'
        %td.formNum= text_field_tag :gunshot_form, @gunshot_form
        %td= f.label :struggle_form, '格闘'
        %td.formNum= text_field_tag :struggle_form, @struggle_form
      %tr
        %td
        %td= f.label :reaction_form, '反応'
        %td.formNum= text_field_tag :reaction_form, @reaction_form
        %td= f.label :control_form, '制御'
        %td.formNum= text_field_tag :control_form, @control_form
      %tr
        %td
        %td= f.label :preparation_form, '整備'
        %td.formNum= text_field_tag :preparation_form, @preparation_form
        %td= f.label :fitly_form, '適性'
        %td.formNum= text_field_tag :fitly_form, @fitly_form
    %tbody
      %tr
        %td
        %td= hidden_field_tag :is_form, 1
        %td{colspan: 4}= f.submit '検索する'


= paginate(@items)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      %th= sort_link(@search, :e_no,'キャラクター(Eno)', default_order: :desc)
      %th= sort_link(@search, :i_no, 'Ino', default_order: :desc)
      %th= sort_link(@search, :name, 'アイテム名', default_order: :desc)
      - if @show_detail_1 == "1"
        %th= sort_link(@search, :kind, '種別', default_order: :desc)
        %th= sort_link(@search, :orig_name, '詳細', default_order: :desc)
        %th= sort_link(@search, :strength, '強度', default_order: :desc)
        %th= sort_link(@search, :fuka_1, '付加A', default_order: :desc)
        %th= sort_link(@search, :fuka_2, '付加B', default_order: :desc)
        %th= sort_link(@search, :equip, '装備', default_order: :desc)
      - if @show_detail_2 == "1"
        %th= sort_link(@search, :ap, 'AP', default_order: :desc)
        %th= sort_link(@search, :spending_en, '消費EN', default_order: :desc)
        %th= sort_link(@search, :unique_1, '特殊1', default_order: :desc)
        %th= sort_link(@search, :unique_2, '特殊2', default_order: :desc)
        %th= sort_link(@search, :turning_speed, '旋回', default_order: :desc)
        %th= sort_link(@search, :guard_elemental, '防御属性', default_order: :desc)
        %th= sort_link(@search, :guard_value, '防御値', default_order: :desc)
        %th= sort_link(@search, :value, '金額', default_order: :desc)
        %th= sort_link(@search, :ammunition_cost, '弾薬費', default_order: :desc)
        %th= sort_link(@search, :weight, '重量', default_order: :desc)
      - if @show_detail_3 == "1"
        %th= sort_link(@search, :precision, '精度', default_order: :desc)
        %th= sort_link(@search, :punding, '貯水', default_order: :desc)
        %th= sort_link(@search, :aerosol, '噴霧', default_order: :desc)
        %th= sort_link(@search, :bullet, '弾数', default_order: :desc)
        %th= sort_link(@search, :loading, '積載', default_order: :desc)
        %th= sort_link(@search, :weapon_element, '武器属性', default_order: :desc)
        %th= sort_link(@search, :add_abnormity, '異常追加', default_order: :desc)
      - if @show_detail_4 == "1"
        %th= sort_link(@search, :gunshot, '射撃', default_order: :desc)
        %th= sort_link(@search, :struggle, '格闘', default_order: :desc)
        %th= sort_link(@search, :reaction, '反応', default_order: :desc)
        %th= sort_link(@search, :control, '制御', default_order: :desc)
        %th= sort_link(@search, :preparation, '整備', default_order: :desc)
        %th= sort_link(@search, :fitly, '適性', default_order: :desc)
      %th{colspan:"2"}
        結果リンク
  %tbody
    - @items.each do |item|
      %tr
        %td= item.result_no
        %td= item.p_name.name.html_safe + "(" + sprintf("%d",item.e_no) + ")" if item.p_name
        %td= item.i_no
        %td= item.name
        - if @show_detail_1 == "1"
          %td= item.kind_name.name if item.kind
          %td= item.orig_name_name.name if item.orig_name_name
          %td= item.strength
          %td= item.fuka_1_name.name if item.fuka_1_name
          %td= item.fuka_2_name.name if item.fuka_2_name
          %td= item.equip
        - if @show_detail_2 == "1"
          %td= item.ap
          %td= item.spending_en
          %td= item.unique_1
          %td= item.unique_2
          %td= item.turning_speed
          %td= item.guard_elemental_name.name if item.guard_elemental
          %td= item.guard_value
          %td= item.value
          %td= item.ammunition_cost
          %td= item.weight
        - if @show_detail_3 == "1"
          %td= item.precision
          %td= item.punding
          %td= item.aerosol
          %td= item.bullet
          %td= item.loading
          %td= item.weapon_element_name.name if item.weapon_element_name
          %td= item.add_abnormity
        - if @show_detail_4 == "1"
          %td= item.gunshot
          %td= item.struggle
          %td= item.reaction
          %td= item.control
          %td= item.preparation
          %td= item.fitly
        %td= character_link(item.e_no)
        %td= character_old_link(@last_result, item.e_no, item.result_no, item.generate_no)
= paginate(@items)
