%h1 ファイブレーダーズ

%p.formNum 
  テキストフォームの隣に赤い破線がある項目は数値検索です。
  %br
  「/」区切りでOR、「100~」や「100~200」のように「~」をつけて範囲指定となります。
  %br
  OR指定と範囲指定を同時に行うことはできません。
%p.formText
  テキストフォームの隣に青い太線がある項目は文字検索です。
  %br
  半角スペース区切りでAND、「/」区切りでOR、単語の前に「-」でNOT、単語の前後に「"」をつけて完全一致が使えます
  %br
  ANDとORを組み合わせた時は、ANDで区切った後にORで区切るという順番になります。
%p
  %span.example_select.example_toggle.pointer
    入力例
    %span.act_desc（クリックで開きます）
    %span.act_desc.closed（クリックで閉じます）
#example.closed
  %p.formNum
    数値入力で「100/105/110」と入力　→ 入力した項目の数値が100、105、110の結果がヒット
    %br
    「100~」で100以上、「~100」で100以下、「-200~100」で-200～-100の範囲指定となります。
  %p.formText
    「粒子」と入力　→　粒子ブレードA、粒子スピアA、粒子爆雷A……が検索結果にヒット
    %br
    「"粒子"」　→　完全一致で「粒子」のみ検索結果にヒット
    %br
    「-粒子」　→　「粒子」の単語を含まない目的が検索結果にヒット
    %br
    「-"粒子"」　→　完全一致で「粒子」以外が検索結果にヒット
    %br
    「粒子 ブレード」　→　「粒子」と「ブレード」の2つの単語が含まれるものが検索結果にヒット
    %br
    「粒子/ブレード」　→　「粒子」か「ブレード」のどちらかの単語が含まれるものが検索結果にヒット
    %br
    「粒子 ブレード/スピア」　→　「粒子」が含まれ、さらに 「ブレード」か「スピア」 が含まれるものが検索結果にヒット
    %br
    「-粒子 -ブレード」　→　「粒子」もしくは「ブレード」という単語が含まれるものを検索結果から除外
= search_form_for @search, url: five_radars_path do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          絞り込み検索
          %span.act_desc (クリックで閉じます)
          %span.act_desc.closed (クリックで開きます)
    %tbody
      %tr
      %tr
        %td  
        %td= f.label :result_no_form, '更新回'
        %td.formNum{colspan: "3"}= text_field_tag :result_no_form, @result_no_form
      %tr
        %td  
        %td= f.label :e_no_form, 'Eno'
        %td.formNum= text_field_tag :e_no_form, @e_no_form
        %td= f.label :p_name_form, 'キャラクター名'
        %td.formText= text_field_tag :p_name_form, @p_name_form
      %tr
        %td  
        %td= f.label :num_form, 'レーダーの数'
        %td.formNum= text_field_tag :num_form, @num_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_detail_reward_1, @show_detail_reward_1
          = label_tag :show_detail_reward_1, '＋　戦闘報酬を表示する', class: "act_desc"
          = label_tag :show_detail_reward_1, '×　戦闘報酬を非表示にする', class: "act_desc closed"
          %div.act_desc 　合計現金収入、攻撃戦果補正、支援戦果補正、防衛戦果補正
    %tbody.closed
      %tr
        %td  
        %td= f.label :total_income_form, '合計現金収入'
        %td.formNum{colspan: "3"}= text_field_tag :total_income_form, @total_income_form
      %tr
        %td  
        %td= f.label :attack_form, '攻撃戦果補正'
        %td.formNum= text_field_tag :attack_form, @attack_form
        %td= f.label :support_form, '支援戦果補正'
        %td.formNum= text_field_tag :support_form, @support_form
      %tr
        %td  
        %td= f.label :defense_form, '防衛戦果補正'
        %td.formNum{colspan: "3"}= text_field_tag :defense_form, @defense_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_detail_block_1, @show_detail_block_1
          = label_tag :show_detail_block_1, '＋　今回のブロックを表示する', class: "act_desc"
          = label_tag :show_detail_block_1, '×　今回のブロックを非表示にする', class: "act_desc closed"
    %tbody.closed
      %tr
        %td  
        %td= f.label :block_no_form, 'ブロック番号'
        %td.formNum{colspan: "3"}= text_field_tag :block_no_form, @block_no_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_detail_next_battle_1, @show_detail_next_battle_1
          = label_tag :show_detail_next_battle_1, '＋　次回のブロックを表示する', class: "act_desc"
          = label_tag :show_detail_next_battle_1, '×　次回のブロックを非表示にする', class: "act_desc closed"
    %tbody.closed
      %tr
        %td  
        %td= f.label :next_block_no_form, 'ブロック番号'
        %td.formNum{colspan: "3"}= text_field_tag :next_block_no_form, @next_block_no_form
    %tbody.tbody_toggle.pointer
      %tr
        %td{colspan: "5"}
          = hidden_field_tag :show_detail_assembly_1, @show_detail_assembly_1
          = label_tag :show_detail_assembly_1, '＋　アセンブルを表示する', class: "act_desc"
          = label_tag :show_detail_assembly_1, '×　アセンブルを非表示にする', class: "act_desc closed"
          %div.act_desc 　脚部、全アセンブル
    %tbody.closed
      %tr
        %td  
        %td= f.label :leg_form, '脚部'
        %td.formText= text_field_tag :leg_form, @leg_form
        %td= f.label :assembly_form, '全アセンブル (ORのみ)'
        %td.formText= text_field_tag :assembly_form, @assembly_form
    %tbody
      %tr
        %td= hidden_field_tag :is_form, 1
        %td{colspan: "4"}= f.submit '検索する'


= paginate(@assembly_nums)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
      %th= sort_link(@search, :e_no,'キャラクター(Eno)', default_order: :desc)
      %th= sort_link(@search, :num, 'レーダー数', default_order: :desc)
      - if @show_detail_reward_1 == "1"
        %th= sort_link(@search, :reward_total_income, '合計収入', default_order: :desc)
        %th= sort_link(@search, :reward_attack, '攻撃', default_order: :desc)
        %th= sort_link(@search, :reward_support, '支援', default_order: :desc)
        %th= sort_link(@search, :reward_defense, '防衛', default_order: :desc)
      - if @show_detail_block_1 == "1"
        %th= sort_link(@search, :block_block_no, '今回戦場', default_order: :desc)
      - if @show_detail_next_battle_1 == "1"
        %th= sort_link(@search, :next_battles_block_no, '次回戦場', default_order: :desc)
      - if @show_detail_assembly_1 == "1"
        %th= sort_link(@search, :leg_orig_name_name_name, '脚部', default_order: :desc)
        %th= sort_link(@search, :assembly_orig_name_name_name, 'アセンブル', default_order: :desc)
      %th{colspan: "2"}
        結果リンク
  %tbody
    - @assembly_nums.each do |assembly_num|
      %tr
        %td= assembly_num.result_no
        %td= assembly_num.p_name.name.html_safe + "(" + sprintf("%d",assembly_num.e_no) + ")"
        %td= assembly_num.num
        - if @show_detail_reward_1 == "1"
          %td= assembly_num.reward.total_income if assembly_num.reward
          %td= assembly_num.reward.attack if assembly_num.reward
          %td= assembly_num.reward.support if assembly_num.reward
          %td= assembly_num.reward.defense if assembly_num.reward
        - if @show_detail_block_1 == "1"
          %td= assembly_num.block.block_no if assembly_num.block
        - if @show_detail_next_battle_1 == "1"
          %td= assembly_num.next_battle.block_no if assembly_num.next_battle
        - if @show_detail_assembly_1 == "1"
          %td= assembly_num.leg.orig_name_name.name if assembly_num.leg
          %td= all_assembly_text(assembly_num.assembly)
        %td= character_link(assembly_num.e_no)
        %td= character_old_link(@last_result, assembly_num.e_no, assembly_num.result_no, assembly_num.generate_no)
= paginate(@assembly_nums)
