!!! s
%html
  %head
    %title 霧戦争5期データ小屋
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag "https://www.gstatic.com/charts/loader.js"

  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          = link_to "霧戦争5期データ小屋", root_path, :class => "navbar-brand"
          %button.navbar-toggle{:type => "button", data: {:toggle => "collapse", :target => "#navbar-main"}}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        .navbar-collapse.collapse#navbar-main
          %ul.nav.navbar-nav
            %li.dropdown
              %a.dropdown-toggle#themes{ :data => {:toggle =>"dropdown"}, :href => "#"}
                個人データ
                %span.caret
              %ul.dropdown-menu{:aria-labelledby => "themes"}
                %li= link_to "アイテム一覧", items_path
                %li= link_to "ステータス一覧", statuses_path
                %li= link_to "機体データ一覧", specs_path
                %li= link_to "戦闘報酬一覧", rewards_path
                %li.divider
            %li.dropdown
              %a.dropdown-toggle#themes{ :data => {:toggle =>"dropdown"}, :href => "#"}
                結果データ
                %span.caret
              %ul.dropdown-menu{:aria-labelledby => "themes"}
                %li= link_to "マーケット一覧", markets_path
                %li.divider

    .container
      .row
        .col-md-12
          = yield
      
      %footer
        %p
          制作#{link_to "@white_mns", "http://twitter.com/white_mns"}
          %br
          = link_to "プライバシーポリシー", top_page_privacy_path
          %br
          ソースコード [#{link_to "解析部分", "https://github.com/white-mns/mow_parse"}] [#{link_to "表示部分", "https://github.com/white-mns/mow_rails"}]
      = render 'layouts/analytics'
